{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "ecmaVersion": 6,
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "indent": ["error", "tab"],
    "no-tabs": [0]
  },
  "plugins": [
    "react"
  ]
}
